.viewer-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: #1a1a1a;
}

.viewer-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* Inline dimension edit input - appears directly on the label */
.dimension-inline-input {
  /* Base styling is done inline for dynamic background color */
  /* This class is for any additional styling needed */
}

.dimension-inline-input::-webkit-inner-spin-button,
.dimension-inline-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dimension-inline-input[type="number"] {
  -moz-appearance: textfield;
}
